# -----------------------------
# App
# -----------------------------
DEBUG=True
APP_PORT=

# -----------------------------
# Logging
# -----------------------------
LOG_LEVEL=info

# -----------------------------
# PostgreSQL
# -----------------------------
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable


# -----------------------------
# Redis
# -----------------------------
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

CACHE_ENABLED=true
CACHE_TTL=300

# -----------------------------
# Aws S3
# -----------------------------
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=
S3_PUBLIC_URL=

# -----------------------------
# JWT Auth
# -----------------------------
JWT_SECRET=
JWT_EXPIRE=86400

PPROF_PORT=6060